<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="manifest" href="../manifest.json" />
    <title>Trivia</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <h1 class="staircase-title jello-vertical">
          <span>E</span><span>D</span><span>U</span><span>T</span><span>R</span
          ><span>I</span><span>V</span><span>I</span><span>A</span>
        </h1>
        <p>
          Educatrivia es un espacio lúdico destinado a la puesta en práctica del
          conocimiento y la educación. Dale click y aceptá el desafío.
        </p>
        <img id="arrow" src="arrow-pointing.gif" alt="" srcset="" />
      </div>
      <a href="trivia.html" class="button-82-pushable" role="button">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text"> Comenzar </span>
      </a>

      <p id="p-disponible">
        App disponible! Pulsá el acceso "Agregar a la pantalla de inicio" en tu
        navegador.
      </p>
    </div>
  </body>
</html>
